#game {
    height: 600px;
    background-image: url(../imgs/sky.png);
    position: relative;
}

.bird {
    width: 30px;
    height: 30px;
    background-image: url(../imgs/birds.png);
    position: absolute;
    left: 50%;
    top: 235px;
    margin-left: -17px;
    transition: top .3s linear;
}

.start {
    position: absolute;
    top: 295px;
    left: 50%;
    margin-left: -100px;

    width: 200px;
    height: 60px;
    text-align: center;
    /* background-color: yellow; */
    line-height: 60px;
    font-weight: bolder;
    transition: all .3s linear;
}

.start.start-white{
    color: #fff;
    font-size: 24px;
}

.start.start-blue {
    color: #09f;
    font-size: 36px;
}

.score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    display: none;
    z-index: 1;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    background-color: black;
    display: none;
    z-index: 2;
}

.end {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    text-align: center;
    display: none;
    z-index: 3;
}

.end .over {
    font-size: 36px;
    font-weight: bolder;
    color: red;
}

.end .result,
.end .final-score {
    color: #ff0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.end .rank-list {
    margin-top: 20px;
    color: #09f;  
}

.end .rank-item {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 12px;
}

.end .rank-degree {
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #8eb9f5;
    display: inline-block;
    margin-right: 10px;
}

.end .rank-degree.first {
    background-color: #f54545;
}

.end .rank-degree.second {
    background-color: #ff8547;
}

.end .rank-degree.third {
    background-color: #ffac38;
}

.end .rank-score {
    display: inline-block;
    width: 30px;
}

.end .restart {
    color: #09f;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    width: 73px;
    margin: 0 auto;
}

.column {
    position: absolute;
    width: 52px;
}

.column-top {
    background-image: url(../imgs/pipe2.png);
    background-position-y: bottom;
    top: 0;
}

.column-down {
    background-image: url(../imgs/pipe1.png);
    background-position-y: top;
    bottom: 0;
}